<div {% if message_pair_id %}id="{{ message_pair_id }}"{% endif %}
    {% if chunk_index > 0 %}hx-swap-oob="true"{% endif %}
    x-data="{
        convert() {
            const markdownText = this.$el.querySelector('.markdown')?.textContent;
            console.log('markdownText :', markdownText);
            const aiEl = this.$el.querySelector('.ai');
            aiEl.innerHTML = window.markdownToHtml(markdownText);
        }
    }"
    x-init="convert();"
    class="space-y-4">

    <div class="flex justify-start">
        <div class="bg-white rounded-2xl rounded-tl-none px-4 py-2 shadow-sm max-w-[80%]">
            <p class="text-gray-800">{{ human_message }}</p>
        </div>
    </div>

    <div class="markdown hidden">{{ ai_message }}</div>
    
    <div class="flex justify-end">
        <div class="bg-indigo-600 text-white rounded-2xl rounded-tr-none px-4 py-2 shadow-sm max-w-[80%]">
            <div class="ai prose prose-sm prose-invert"></div>
        </div>
    </div>
</div>